@font-face {
  font-family: "Freizeit Trial";
  font-style: normal;
  font-weight: 100;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-Thin.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: italic;
  font-weight: 100;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-ThinSlanted.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: normal;
  font-weight: 200;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: italic;
  font-weight: 200;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-ExtraLightSlanted.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: normal;
  font-weight: 300;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-Light.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: italic;
  font-weight: 300;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-LightSlanted.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: normal;
  font-weight: 400;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-Regular.woff") format("woff");
}

@font-face {
  font-family: "Freizeit Trial";
  font-style: italic;
  font-weight: 400;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-RegularSlanted.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: normal;
  font-weight: 500;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-Medium.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: italic;
  font-weight: 500;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-MediumSlanted.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: normal;
  font-weight: 700;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-Bold.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: italic;
  font-weight: 700;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-BoldSlanted.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: normal;
  font-weight: 800;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Freizeit Trial";
  font-style: italic;
  font-weight: 800;
  src:
    local("Freizeit Trial"),
    url("FreizeitTrial-ExtraBoldSlanted.woff") format("woff");
}
